.name-inner{
    border: 1px solid red;
    padding: 5px;
    width: 150px;
    height: 150px;
    background-color: rgb(52,84,24);
    color:white;
    display: inline-block;
    text-align: center;
    line-height: 150px;
}